<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- <bean id="ELC" class="com.techinfolab.web.springcontroller.EmployeeLogincontroller"></bean>

	<bean id="SLC" class="com.techinfolab.web.springcontroller.Studentlogincontroller"></bean>

	<bean id="employeeservice" class="com.techinfolab.web.springservice.EmployeeServiceImpl">
	</bean>

	<bean id="employeedao" class="com.techinfolab.web.springdao.EmployeeDaoImpl">
	</bean>

	<bean id="Employee" class="com.techinfolab.web.pojo.Employee">
	</bean> -->

	<!-- following line is used to configure requestmappinghandlermapping -->
	<mvc:annotation-driven />
	<context:annotation-config />
	<mvc:default-servlet-handler />

	<!-- here we configure the view Resolver -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>

		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" 
		/> <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" /> <property 
		name="username" value="system" /> <property name="password" value="manager" 
		/> </bean> -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/empDb" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.techinfolab.web.pojo" />

		<property name="hibernateProperties">
			<props>

				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop> -->
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>

		</property>
	</bean>
</beans>